Source: pyrtm
Section: misc
Priority: optional
Maintainer: Michael Pilgermann <kichkasch@gmx.de>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python-central (>=0.5.6)
XS-Python-Version: >= 2.4
Standards-Version: 3.8.3.0
Homepage: http://bitbucket.org/srid/pyrtm/

Package: pyrtm
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}
Description: Python interface for 'Remember The Milk' API
